{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Мукачівський військовий госпіталь</title>
   <link href="{% static 'css/styles.css' %}" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <style>
       .grid {
           background-color: lightgreen;
           display: grid;
           padding: 20px;
           grid-column-gap: 20px;
           grid-row-gap: 10px;
           grid-template-columns: 200px 200px auto;
       }

       .grid-item {
           background-color: white;
           font-size: 20px;
           padding: 20px;
           text-align: center;
       }
   </style>
</head>

<body>
   {% block body %}
   {% endblock %}
</body>

</html>